/*
Student Name: Samuel Marsh
File Name:style.css
Date: 12/3/2023
*/

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

/*Style rules for body and img*/

body{
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  background-color: black;
}

img{
  max-width: 100%;
  display: block;

}


/*Content for Header*/

header{
  padding: 25px;
  display: block;
  text-align: center;
  font-size: 10px;
  color: lightgray;
}

.inner-header{
  height: 100%;
}

.Name {
  align-items:center;
  font-size: 2em;
}

.Name h1{
  text-align: center;
  font-size: 5em;
}

/*Nav Area*/

nav{
width: 100%;
  float:right;
  background-color:black  ;
}

nav ul{
  list-style-type: none;
  margin: 0;
  text-align: right;
}

nav li{
  display: inline-block;
  font-size: 2em;
  font-weight: 800;
}

nav li :hover{
  cursor: pointer;
  display: block;
  background-color: white ;
}

nav li a{
  display: block;
  color: wheat;
  text-align: center;
  padding: 0.5em 1em;
}


/*Main Content*/

main{
  clear: left;
  padding-top: 2em;
  display: block;
}

.title{
  display: block;
  text-align: center;
  font-size: 1.5em;
  color: white;
  margin-bottom: 15px;
}

.row:after{
  content: "";
  display: table;
  clear: both;
  padding-bottom: 25px;
}


.column1 {
  float: left;
  width: 50%;
  height: 500px;
background-color: gray;
}

.column1 img{
width: 50%;
height: 500px;
padding-left: 25%;
object-fit:fill;
}

.column2{

  float: left;
  width: 50%;
  height: 500px;
  background: gray;
}

.column2 h2{
  color: black;
  text-align: center;
  font-style: italic;
  font-size: 2em;
}

.column2 p{
  color: black;
  text-align: center;
  font-weight: bold;
  font-size: 2em;

}

.row2:after{
  content: "";
  display: table;
  clear: both;
}


.column3 {
  float: left;
  width: 50%;
  height: 500px;
  background-color: lightblue;
}

.column3 img{
width: 50%;
height: 500px;
padding-left: 25%;
object-fit:fill;
}

.column4{

  float: left;
  width: 50%;
  height: 500px;
  background-color: lightblue;
}

.column4 h2{
  color: black;
  text-align: center;
  font-style: italic;
  font-size: 2em;
}

.column4 p{
  color: black;
  text-align: center;
  font-weight: 800;
  font-size: 2em;

}

/*Footer*/

footer p {
  font-size: 1.5em;
  text-align: center;
  color: #fff;
  padding: 0 1em;
}

/*Media Viewport for mobile*/

@media screen and (max-width:620px){

  .mobile{
    display: none;
  }

  .tab.desk{
    display: block;
  }

/*Nav Area*/
  nav{
    width: 100%;
    }

    nav ul{
      list-style-type:none;
      text-align: center;
    }

    nav li{
      border-bottom: solid white;
      display:inline-block;
    }

    nav li a{
      display: block;
      padding: 0.5em 1em;
      font-size: 1.5em;
      font-weight: 800;
    }

    /*Main Content*/
    .HeroImage{
      display: none;
    }

    .title h1{
      font-size: 1.5em;
      padding-top: 10px;
    }

    .column2{

      float: left;
      width: 100%;
      height: 500px;
      background: gray;
    }

    .column1 {
      float: left;
      width: 100%;
      height: 500px;
    background-color: gray;
    }

    .column1 img{
      width: 50%;

    }

    .column2 h2{
      font-size: 1.5em;
    }

    .column2 p{
      font-size: 1.5em;

    }

    .column3 {
      float: left;
      width: 100%;
      height: 500px;
      background-color: lightblue;
    }

    .column3 img{
    width: 50%;
    height: 500px;
    padding-left: 25%;
    object-fit:fill;
    }

    .column4{

      float: left;
      width: 100%;

    }

    .column4 h2{

      font-size: 1.5em;
    }

    .column4 p{

      font-size: 1.5em;

    }

    .column3 img{
      width: 100%;
      object-fit: none;
      padding-left: 0%;
    }

}





/*Media Query for Tablet Viewport */

@media screen and (min-width:620px) {

  .tab.desk{
    display: block;
  }

  .mobile{
   display: block;
  }

/*Nav Content*/

  nav ul{
    list-style-type: none;
    margin: 0;
    text-align: center;
  }

  nav li{
    display: inline-block;
    font-size: 2em;
    font-weight: 800;
  }

  /*Main Content*/
  .title h1{
    font-size: 1.5em;
  }


  .column1 img{
    height: 500px;
    width: 80%;
  }

  .column2 h2{
    font-size: 1.5em;
  }

  .column2 p{
    font-size: 1.5em;
  }

  .column3 img{
    height: 500px;
    width: 90%;
  }

  .column4 h1{
    font-size: 1.5em;
  }

  .column4 p{
    font-size: 1.3em;
  }

}



/*Desktop Viewport*/

@media print, screen and (min-width: 1000px) {


}

/*Large Desktop Viewport*/
@media screen and (min-width: 1921px){


}
