/*
Student Name: Samuel Marsh
File Name:style.css
Date: 12/3/2023
*/

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

/*Style rules for body and img*/

body{
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  background-color: black;
}

img{
  max-width: 100%;
  display: block;

}


/*Content for Header*/

header{
  padding: 25px;
  display: block;
  text-align: center;
  font-size: 10px;
  color: lightgray;
}

.inner-header{
  height: 100%;
}

.Name {
  align-items:center;
  font-size: 2em;
}

.Name h1{
  text-align: center;
  font-size: 5em;
}

/*Nav Area*/

nav{
width: 100%;
  float:right;
  background-color:black  ;
  margin-bottom: 10px;
}

nav ul{
  list-style-type: none;
  margin: 0;
  text-align: center;
}

nav li{
  display: inline-block;
  font-size: 2em;
  font-weight: 800;
}

nav li :hover{
  cursor: pointer;
  display: block;
  background-color: white ;
}

nav li a{
  display: block;
  color: wheat;
  text-align: center;
  padding: 0.5em 1em;
}


/*Main Content*/

main{
  clear: left;
  padding-top: 2em;
  display: block;
}

.title{
  display: block;
  text-align: center;
  font-size: 1.5em;
  color: white;
  margin-bottom: 15px;
}

.container {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 5px;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 15%;
  background-color: grey;
 }

 .text {
   padding-left: 25%;
   width: 150%;
 }

 .text h2{
  text-align: center;
 }

 .text p{
  text-align: center;
  font-size: 1.5em;
 }

 .container2 {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 5px;
  padding-left: 15%;
  background-color: black;
 }

 .container3 {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 5px;
  padding-left: 15%;
  background-color: black;
 }

 .text3{
  padding-left: 25%;
  width: 150%;
 }

 .text3 h2{
  text-align: center;
  color: black;
 }

 .text3 p{
  text-align: center;
  font-size: 1.5em;
  color: black;
 }


 .text2{
  padding-left: 25%;
  width: 150%;
 }

 .text2 h2{
  text-align: center;
  color: white;
 }

 .text2 p{
  text-align: center;
  font-size: 1.5em;
  color: white;
 }

Image{
  padding-top: 25px;
}


/*Footer*/


/*Media Viewport for mobile*/

@media screen and (max-width:620px){

  .mobile{
    display: none;
  }

  .tab.desk{
    display: block;
  }

/*Nav Area*/
  nav{
    width: 100%;
    }

    nav ul{
      list-style-type:none;
      text-align: center;
    }

    nav li{
      border-bottom: solid white;
      display:inline-block;
    }

    nav li a{
      display: block;
      padding: 0.5em 1em;
      font-size: 1.5em;
      font-weight: 800;
    }

    /*Main Content*/
    .HeroImage{
      display: none;
    }

    .inner-header{
      display: none;
    }

    .title{
      font-size: 1.5em;
    }

    .container{
      display: block;
      grid-template-columns: 1fr;
      padding-top: 25px;
      padding-bottom: 50px;
       padding-left: 30px;
       align-items: center;
    }

    .text {
      padding-left: 0% ;
      width: 95%;
    }

    .text p{
      font-size: 1.0em;
    }

    .Image1{
      width: 95%;
      padding-left: 0px;
    }

    .container2{
      display: block;
      grid-template-columns: 1fr;
      padding-top: 25px;
      padding-bottom: 50px;
       padding-left: 12px;
       align-items: center;
    }

    .text2{
      padding-left: 0% ;
      width: 95%;
    }

    .text2 p{
      font-size: 1.0em;
    }

    .text3 {
      padding-left: 0% ;
      width: 95%;
    }

    .text3 p{
      font-size: 1.2em;
    }

    .Image2{
      width: 95%;
      padding-left: 5px;
    }

    .Image3{
      padding-right: 6%;
    }

    }





/*Media Query for Tablet Viewport */

@media screen and (max-width:1024px) and (min-width:620px) {

  .tab.tab.desk{
    display: block;
  }

  .mobile{
   display: block;
  }

/*Nav Content*/

  nav ul{
    list-style-type: none;
    margin: 0;
    text-align: center;
  }

  nav li{
    display: inline-block;
    font-size: 2em;
    font-weight: 800;
  }

  /*Main Content*/

  .title h1{
    font-size: 1.5em;
  }

  .container{
    width: 100%;
    grid-template-columns: 1fr 1fr ;
    padding-left: 0%;
  }

  .container2{
    grid-template-columns: 1fr 1fr ;
    padding-left: 0%;
  }


  .Image1{
    width: 95%;
    padding-left: 10px;
  }

  .text {
    padding-left: 5%;
    width: 90%;
  }
  .text h2{
    font-size: 2.0em;
  }

  .text p{
    font-size: 1.3em;
  }

  .text2 {
    padding-left: 5%;
    width: 90%;
  }
  .text2 h2{
    font-size: 2.0em;
  }
  .text2 p{
    font-size: 1.3em;
    color: white;
  }

  .text3 {
    padding-left: 5%;
    width: 90%;
  }
  .text3 h2{
    font-size: 2.0em;
    color: black;
  }
  .text3 p{
    font-size: 1.2em;
    color: black;
  }


  .Image2{
    width: 95%;
    padding-left: 5px;
  }

  .Image3{
    width: 100%;
  }


}



/*Desktop Viewport*/

@media print, screen and (min-width:1000px) and (max-width:2560px) {


}

/*Large Desktop Viewport*/
@media screen and (min-width: 1921px){


}
